.backDrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	z-index: 1000;
}
/* 
.showBackDrop {
	visibility: visible;
	opacity: 0.8;
} */

.overlay {
	position: absolute;
	z-index: 1500;
	padding: 20px;
	width: 30%;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	border-radius: 20px;
}

/* .showOverlay {
	visibility: visible;
} */
